<!DOCTYPE html>
<html>

<head>
    
</head>

<body>
    {{>header}}
    <h1>{{title}}</h1>
    <h2>{{name}}</h2>
    <form>
        <input id='location' placeholder="Location">
        <button>Search</button>

        <p id="result">Result</p>
    </form>
    {{>footer}}

    <script src="/js/app_client.js"></script>
</body>

</html>